p{
    color: peru;
    font-family: fantasy;
    
}

h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

a:link{
    color: red;
}

a:hover{
    color: yellow;
    background-color: black;
    font-family: cursive;
}

/*
Fixed postion creates something that will be fixed even when scrolling
Relative postion moves the object based on it's original postion
Absoulute postion moves an object to a specific postion without caring what's around it
*/